/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* MAIN STYLES */

html,body{
  min-height: 100%;
  background-color: #F9FAFC;
  font-family: 'Roboto','Helvetica Neue',Helvetica, Arial, sans-serif;
}

h1{
  font-size: 3.5rem;
  font-weight: 100;
  letter-spacing: 4px;
}
h2{ 
  font-size: 2.5rem;
  font-weight: 100;
  opacity: 0.5;
  text-transform: uppercase;
}
h3{
  font-size: 2.5rem;
  font-weight: 300;
}
h6{
  margin-top: 0;
  font-size: 2rem;
  font-weight: 200;
  opacity: .5;
}
li,p{
  font-size: 1rem;
  font-weight: 200;
  opacity: .9;
  line-height: 30px;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
hr{
  border: 0;
  color: #000;
  background-color: #000;
  height: 1px;
  opacity: 0.1;
  margin-top: 50px;
  margin-bottom: 50px;
}
.row{
  margin: 0;
  padding: 0;
}
.row-equal{
  display: flex; /* equal height of the children */
  margin: 0;
  padding: 0;
}
.container-fluid{
  margin: 0;
  padding: 0;
}
.content{
  padding: 80px;
  color: #000;
}
.content-card{
  margin: 60px;
  color: #000;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(229,232,235,0.5), 0 0 0 transparent;
  z-index: 10;
}
.section-hero{
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      rgba(255, 255, 255, 0.8), 
      rgba(255, 255, 255, 0.8)
    ),
  url(../img/compressed/light-hallway.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.mod-top{
  margin-top: -200px;
}
.mod-right{
  /*margin-left: 20%;*/
}
.mod-left{
  /*margin-right: 20%;*/
}
.col-discreet{
  min-height: 250px;
  background: linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0)
    ),
  url(../img/compressed/dark-hallway.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.col-risk{
  min-height: 250px;
  background: linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0)
    ),
  url(../img/compressed/nasa.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.col-transportation{
  min-height: 250px;
  background: linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0)
    ),
  url(../img/compressed/vehicle.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.col-contingency{
  min-height: 250px;
  background: linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0)
    ),
  url(../img/compressed/whiteboard.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.map{
  width: 100%;
  /*max-width: 600px;*/
  height: 100%;
  min-height: 400px;
  max-height: 600px;
  margin-top: 40px;
  margin-bottom: 40px;
}


.footer{
  background-color: #f5f5f5;
}
.footer p{
  font-size: 12px;
}







/* BUTTON STYLES */
.button {
  padding: 10px 15px;
  border-radius: 2px;
  display: inline-block;
  background-color: #009EEB;
  font-weight: 400;
  border: 1px solid #009EEB;
  cursor: pointer;
  text-decoration: none;
  font-family: Roboto;
  font-size: 1rem;
  margin-bottom: 15px;
  color: #fff;
  box-shadow: 0 0 10px 0 rgba(10,10,10,0.1), 0 0 0 transparent;
  transition: 300ms all;
}
.button:visited {
  color: #fff;
  text-decoration: none;
}
.button:hover {
  color: #fff;
  /*background-color: #009EEB;*/
  text-decoration: none;
  transform: translateY(-1px);
  box-shadow: 0 0 10px 0px rgba(10,10,10,0.2), 0 0 0 transparent;
}

.button-alert{
  background-color: #FF5216;
  border: 1px solid #FF5216;
}

.button-light{
  background-color: #F9FAFC;
  border: 1px solid #F9FAFC;
  color: #222;
}
.button-light:visited,.button-light:hover{
  color: #222;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */
/*.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}*/
.center-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 768px) {
    /* Style adjustments for viewports that meet the condition */
  .content{
    padding: 30px;
  }
  .content-card{
    margin: 20px;
  }
  .row{
    display: block;
  }
  .mod-left,.mod-right{
    /*margin-left: auto;*/
    /*margin-right: auto;*/
  }
  .mod-top{
    margin-top: 10px;
  }
  .col-discreet,.col-risk,.col-transportation,
  .col-contingency{
    display: none;
  }
}
@media only screen and (max-width: 320px) {
    /* Style adjustments for viewports that meet the condition */
  .content{
    padding: 20px;
  }
}


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
